h1{
color:white;

}
p{
color:white}
.top-header {
margin-left:370px;}
.student{
position:relative;
left:490px;

color:whitesmoke
}
.sub-batch{
background-color: #25baeb;
width:270px;
margin:10px;
padding-left:10px;
border-radius:10px;
}
body{
background-color: blue;
margin:0px;}
.container{
height:400px;
width:300px;
background-color:white;
text-align:center;
position :relative;
left:450px;
top:10px;
border-radius:20px;}
.Logout{
position:absolute;
top:50px;
right:30px;

width:70px;

text-align:center;
text-decoration:none;
color:white;
border-radius: 10px;

font-family:'Times New Roman', Times, serif;
 padding:8px 15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;}
.count{
display:inline;}
table{

background-color:white;
position:relative;
  border-spacing:0;
 
left:350px;}
th{
  background:#f2f2f2;
    font-size:20px;
    background-color: #2563eb;
    color:#f2f2f2;
}
td,th{
     border:1px solid #000;
    padding:15px;
    text-align:center;

}
button{
    padding:8px 15px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}
.admin_details{
width:180px;
padding:15px;
margin:10px;
color:blueviolet;
background-color:bisque;
text-align:center;
list-style-type: none;
border-radius: 10px;;}

#Admin_details{
display:flex;
flex-direction:row;
text-align:center;
justify-content: center;
flex-wrap:wrap;

}

button{
margin-top:10px;}
.top-container{
display:flex;
flex-direction: row-reverse;
}
.addadmin{
position:absolute;
top:100px;

right:30px;

}

.addadmin-container{
background-color: rgb(32, 32, 128);
width:270px;
padding-left:10px;
border-radius: 10px;
position:absolute;
top:60px;
left:470px;}