*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}
button{
text-align:left;
width:150px;}
body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    135deg,
    #0f9b8e,
   blue
    );
}
.btn-container{
display:flex;
flex-direction: row;
button{
margin:2px;}
}
.login-container{

    background:white;

    width:600px;

    padding:40px;

    border-radius:15px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.2);

    text-align:center;
}

.login-container h1{

    color:blue;

    margin-bottom:10px;
}

.login-container h2{

    color:#333;

    margin-bottom:25px;
}

.login-container input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;
}

.login-container input:focus{

    outline:none;

    border-color:blue;
}

.login-container button{

    

    padding:12px;

    background:#3873d2;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;
}

.login-container button:hover{

    background:#142a6c;
}

.login-container p{

    margin-top:15px;
}

.login-container a{

    text-decoration:none;

    color:rgb(173, 180, 230);

    font-weight:bold;
}