*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    135deg,
    #0f9b8e,
    #38ef7d
    );
}

.login-container{

    background:white;

    width:400px;

    padding:40px;

    border-radius:15px;

    box-shadow:
    0 10px 25px rgba(0,0,0,.2);

    text-align:center;
}

.login-container h1{

    color:#198754;

    margin-bottom:10px;
}

.login-container h2{

    color:#333;

    margin-bottom:25px;
}

.login-container input{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;
}

.login-container input:focus{

    outline:none;

    border-color:#198754;
}

.login-container button{

    width:100%;

    padding:12px;

    background:#198754;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;
}

.login-container button:hover{

    background:#146c43;
}

.login-container p{

    margin-top:15px;
}

.login-container a{

    text-decoration:none;

    color:#198754;

    font-weight:bold;
}